/*general rules */
* {
  box-sizing: border-box 0;
  padding: 0;
  margin: 0;
}

:root {
    --blue: #5271AC;
    --active: #F0AD72;
    --basic: #E4E4E4;
}
body{
  background-color: var(--basic);
  height: 4664px;
}


a{
 font-family: 'Jost', sans-serif;
color:white;
text-decoration: none;


}
a.active{
 font-family: 'Jost', sans-serif;
color:white;
text-decoration: none;
font-weight:200;

}
.admin-h1{
   font-family: 'Jost', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
}
